header {
display: flex;
flex-direction: row;
justify-content: space-between;

}

.topnav {
    display: flex;
    flex-direction: row;
    height:60px;
    padding: 50px;
    margin: 15px;

  }

  h2 {
    color: rgb(0, 0, 0);    
    font-weight: 400;    
    font-size: 20px;    
    font-family: "noto_serif.ttf" Arial sans-serif;   

  }

  p {    color: rgb(0, 0, 0);    
    font-weight: 300;    
    font-size: 16px;    
    font-family: "poppins.ttf", Arial, sans-serif;    
    }

    body {
        font: normal 300 .8em'Open Sans', sans-serif;
        overflow-x:hidden;
    }
    ul {
        text-align: right;
        width: 100%;
        background-color: #999;
        height: 20px;
    }
    li {
        display:inline;
    }
    ul a {
        color: white;
        padding: 0 10px;
        text-decoration: none;
    }
    ul a:hover {
        color: #333;
    }

    .parentContainer {
        display: flex;
        background-color: lightyellow;
        padding: 15;
        
    }

.flexChild {

    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    height: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;

}

    .column {

    display: flex;
    flex-direction: column;
    background-color: lightblue;
    height: 800px;
    padding: 50px;
    margin:15px;

    }

    .top1 {
        height: 50%;
        background-color: blue;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    